accelerate==0.30.1
beautifulsoup4==4.12.3
black==24.4.2
flake8==7.0.0
huggingface-hub==0.27.1
isort==5.13.2
matplotlib==3.9.0
numpy==1.26.4
pandas==2.2.3
peft==0.11.1
regex==2024.11.6
requests==2.32.2
sentencepiece==0.2.0
torch==2.5.1
tokenizers==0.20.2
torch==2.5.1
tqdm==4.66.4
transformers @ git+https://github.com/huggingface/transformers@bdb9106f247fca48a71eb384be25dbbd29b065a8
triton==3.1.0
urllib3==2.2.2
wandb==0.17.0
Wikidata==0.7.0
wikipedia==1.4.0
xformers==0.0.26.post1
